@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
body{
    font-family: 'Trade Winds';
    margin: 0px;
}

*{
    box-sizing: border-box;
    margin: 0px;
}

.container{
    margin:auto;
    max-width: 1140px;
    border: 1px;
    border-style: solid;
}

header{
    background-color: #242424;
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
}

.home{
    min-height: 100vw;
    background-image: url("../../assets/Canva\ -\ Computer\ Keyboard.jpg");
    background-size: cover;
    background-position: center;
}